In [15]:
#import methode
import pandas as pd
import numpy as np
import math

In [16]:
#import csv file and display
data = pd.read_csv('Automobile.csv', index_col=0)
data.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [30]:
#calculate wheel min-max normalization and z-score
wheel = data[['wheel-base']]
wheel['min-man normalization']=(wheel['wheel-base'] -wheel['wheel-base'].mean())/(wheel['wheel-base'].max()-wheel['wheel-base'].min())
wheel['z-score']=(wheel['wheel-base']-wheel['wheel-base'].mean())/(wheel['wheel-base'].std(ddof=0))
wheel

C:\Users\admin\AppData\Local\Temp\ipykernel_4696\1577167524.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wheel['min-man normalization']=(wheel['wheel-base'] -wheel['wheel-base'].mean())/(wheel['wheel-base'].max()-wheel['wheel-base'].min())
C:\Users\admin\AppData\Local\Temp\ipykernel_4696\1577167524.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wheel['z-score']=(wheel['wheel-base']-wheel['wheel-base'].mean())/(wheel['wheel-base'].std(ddof=0))

       wheel-base  min-man normalization   z-score
index
0            88.6              -0.304061 -1.491784
1            88.6              -0.304061 -1.491784
2            94.5              -0.122522 -0.601119
3            99.8               0.040555  0.198971
4            99.4               0.028247  0.138586
...           ...                    ...       ...
81           97.3              -0.036368 -0.178430
82           97.3              -0.036368 -0.178430
86           97.3              -0.036368 -0.178430
87          104.3               0.179016  0.878292
88          104.3               0.179016  0.878292

[61 rows x 3 columns]

In [26]:
#calculate length min-max normalization and z-score
length=data[['length']]
length['min-man normalization']=(length['length'] -length['length'].mean())/(length['length'].max()-length['length'].min())
length['z-score']=(length['length']-length['length'].mean())/(length['length'].std(ddof=0))
length

C:\Users\admin\AppData\Local\Temp\ipykernel_4696\1299892241.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  length['min-man normalization']=(length['length'] -length['length'].mean())/(length['length'].max()-length['length'].min())
C:\Users\admin\AppData\Local\Temp\ipykernel_4696\1299892241.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  length['z-score']=(length['length']-length['length'].mean())/(length['length'].std(ddof=0))

       length  min-man normalization   z-score
index
0       168.8              -0.064155 -0.309091
1       168.8              -0.064155 -0.309091
2       171.2              -0.028334 -0.136509
3       176.6               0.052263  0.251800
4       176.6               0.052263  0.251800
...       ...                    ...       ...
81      171.7              -0.020871 -0.100555
82      171.7              -0.020871 -0.100555
86      171.7              -0.020871 -0.100555
87      188.8               0.234353  1.129091
88      188.8               0.234353  1.129091

[61 rows x 3 columns]

In [29]:
#calculate power min-max normalization and z-score
power=data[['horsepower']]
power['min-man normalization']=(power['horsepower'] -power['horsepower'].mean())/(power['horsepower'].max()-power['horsepower'].min())
power['z-score']=(power['horsepower']-power['horsepower'].mean())/(power['horsepower'].std(ddof=0))
power

C:\Users\admin\AppData\Local\Temp\ipykernel_4696\874375653.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  power['min-man normalization']=(power['horsepower'] -power['horsepower'].mean())/(power['horsepower'].max()-power['horsepower'].min())
C:\Users\admin\AppData\Local\Temp\ipykernel_4696\874375653.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  power['z-score']=(power['horsepower']-power['horsepower'].mean())/(power['horsepower'].std(ddof=0))

       horsepower  min-man normalization   z-score
index
0             111               0.013115  0.059294
1             111               0.013115  0.059294
2             154               0.192281  0.869333
3             102              -0.024385 -0.110249
4             115               0.029781  0.134646
...           ...                    ...       ...
81             85              -0.095219 -0.430497
82             52              -0.232719 -1.052155
86            100              -0.032719 -0.147926
87            114               0.025615  0.115808
88            114               0.025615  0.115808

[61 rows x 3 columns]

In [33]:
#calculate average min-max normalization and z-score
average=data[['average-mileage']]
average['min-man normalization']=(average['average-mileage'] -average['average-mileage'].mean())/(average['average-mileage'].max()-average['average-mileage'].min())
average['z-score']=(average['average-mileage']-average['average-mileage'].mean())/(average['average-mileage'].std(ddof=0))
average

C:\Users\admin\AppData\Local\Temp\ipykernel_4696\2621968835.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  average['min-man normalization']=(average['average-mileage'] -average['average-mileage'].mean())/(average['average-mileage'].max()-average['average-mileage'].min())
C:\Users\admin\AppData\Local\Temp\ipykernel_4696\2621968835.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  average['z-score']=(average['average-mileage']-average['average-mileage'].mean())/(average['average-mileage'].std(ddof=0))

       average-mileage  min-man normalization   z-score
index
0                   21              -0.141273 -0.595725
1                   21              -0.141273 -0.595725
2                   19              -0.200096 -0.843775
3                   24              -0.053038 -0.223651
4                   18              -0.229508 -0.967800
...                ...                    ...       ...
81                  27               0.035198  0.148423
82                  37               0.329315  1.388670
86                  26               0.005786  0.024398
87                  23              -0.082449 -0.347676
88                  23              -0.082449 -0.347676

[61 rows x 3 columns]

In [35]:
#calculate price min-max normalization and z-score
price=data[['price']]
price['min-man normalization']=(price['price'] -price['price'].mean())/(price['price'].max()-price['price'].min())
price['z-score']=(price['price']-price['price'].mean())/(price['price'].std(ddof=0))
price

C:\Users\admin\AppData\Local\Temp\ipykernel_4696\2680471270.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['min-man normalization']=(price['price'] -price['price'].mean())/(price['price'].max()-price['price'].min())
C:\Users\admin\AppData\Local\Temp\ipykernel_4696\2680471270.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['z-score']=(price['price']-price['price'].mean())/(price['price'].std(ddof=0))

         price  min-man normalization   z-score
index
0      13495.0              -0.047007 -0.168594
1      16500.0               0.027653  0.099178
2      16500.0               0.027653  0.099178
3      13950.0              -0.035703 -0.128049
4      17450.0               0.051256  0.183831
...        ...                    ...       ...
81      7975.0              -0.184154 -0.660474
82      7995.0              -0.183657 -0.658692
86      9995.0              -0.133966 -0.480474
87     12940.0              -0.060797 -0.218049
88     13415.0              -0.048995 -0.175722

[61 rows x 3 columns]

In [47]:
#pack every dataframe
df =data[['company']]
result=pd.concat([df,wheel,length,power,average,price],axis=1)
result

,company,wheel-base,min-man normalization,z-score,length,min-man normalization,z-score,horsepower,min-man normalization,z-score,average-mileage,min-man normalization,z-score,price,min-man normalization,z-score
index,,,,,,,,,,,,,,,,
0,alfa-romero,88.6,-0.304061,-1.491784,168.8,-0.064155,-0.309091,111,0.013115,0.059294,21,-0.141273,-0.595725,13495.0,-0.047007,-0.168594
1,alfa-romero,88.6,-0.304061,-1.491784,168.8,-0.064155,-0.309091,111,0.013115,0.059294,21,-0.141273,-0.595725,16500.0,0.027653,0.099178
2,alfa-romero,94.5,-0.122522,-0.601119,171.2,-0.028334,-0.136509,154,0.192281,0.869333,19,-0.200096,-0.843775,16500.0,0.027653,0.099178
3,audi,99.8,0.040555,0.198971,176.6,0.052263,0.251800,102,-0.024385,-0.110249,24,-0.053038,-0.223651,13950.0,-0.035703,-0.128049
4,audi,99.4,0.028247,0.138586,176.6,0.052263,0.251800,115,0.029781,0.134646,18,-0.229508,-0.967800,17450.0,0.051256,0.183831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,97.3,-0.036368,-0.178430,171.7,-0.020871,-0.100555,85,-0.095219,-0.430497,27,0.035198,0.148423,7975.0,-0.184154,-0.660474
82,volkswagen,97.3,-0.036368,-0.178430,171.7,-0.020871,-0.100555,52,-0.232719,-1.052155,37,0.329315,1.388670,7995.0,-0.183657,-0.658692
86,volkswagen,97.3,-0.036368,-0.178430,171.7,-0.020871,-0.100555,100,-0.032719,-0.147926,26,0.005786,0.024398,9995.0,-0.133966,-0.480474
87,volvo,104.3,0.179016,0.878292,188.8,0.234353,1.129091,114,0.025615,0.115808,23,-0.082449,-0.347676,12940.0,-0.060797,-0.218049
88,volvo,104.3,0.179016,0.878292,188.8,0.234353,1.129091,114,0.025615,0.115808,23,-0.082449,-0.347676,13415.0,-0.048995,-0.175722

In [48]:
#export dataframe as csv's file
result.to_csv('newauto.csv')

In [49]:
#test file
test = pd.read_csv('newauto.csv')
test

,index,company,wheel-base,min-man normalization,z-score,length,min-man normalization.1,z-score.1,horsepower,min-man normalization.2,z-score.2,average-mileage,min-man normalization.3,z-score.3,price,min-man normalization.4,z-score.4
0,0,alfa-romero,88.6,-0.304061,-1.491784,168.8,-0.064155,-0.309091,111,0.013115,0.059294,21,-0.141273,-0.595725,13495.0,-0.047007,-0.168594
1,1,alfa-romero,88.6,-0.304061,-1.491784,168.8,-0.064155,-0.309091,111,0.013115,0.059294,21,-0.141273,-0.595725,16500.0,0.027653,0.099178
2,2,alfa-romero,94.5,-0.122522,-0.601119,171.2,-0.028334,-0.136509,154,0.192281,0.869333,19,-0.200096,-0.843775,16500.0,0.027653,0.099178
3,3,audi,99.8,0.040555,0.198971,176.6,0.052263,0.251800,102,-0.024385,-0.110249,24,-0.053038,-0.223651,13950.0,-0.035703,-0.128049
4,4,audi,99.4,0.028247,0.138586,176.6,0.052263,0.251800,115,0.029781,0.134646,18,-0.229508,-0.967800,17450.0,0.051256,0.183831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,97.3,-0.036368,-0.178430,171.7,-0.020871,-0.100555,85,-0.095219,-0.430497,27,0.035198,0.148423,7975.0,-0.184154,-0.660474
57,82,volkswagen,97.3,-0.036368,-0.178430,171.7,-0.020871,-0.100555,52,-0.232719,-1.052155,37,0.329315,1.388670,7995.0,-0.183657,-0.658692
58,86,volkswagen,97.3,-0.036368,-0.178430,171.7,-0.020871,-0.100555,100,-0.032719,-0.147926,26,0.005786,0.024398,9995.0,-0.133966,-0.480474
59,87,volvo,104.3,0.179016,0.878292,188.8,0.234353,1.129091,114,0.025615,0.115808,23,-0.082449,-0.347676,12940.0,-0.060797,-0.218049
60,88,volvo,104.3,0.179016,0.878292,188.8,0.234353,1.129091,114,0.025615,0.115808,23,-0.082449,-0.347676,13415.0,-0.048995,-0.175722